<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="www.thymeleaf.org">
<head>
    <title> Mediscreen </title>
    <link rel="stylesheet" href="css/bootstrap.css">
</head>
<body>
<a href="/"> <img src="../img/logo.jpg" class="rounded mx-auto d-block" alt="Welcome to Mediscreen"> </a>

<h3 class="text-center"> Welcome to Mediscreen </h3>
<p class="text-center">
    Manage patients: <a href="/patient/list">patients</a><br>
    Manage patient notes: <a href="/notes/list">notes</a>
</p>
</body>
</html>