<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org">
<head>
    <title>Mediscreen</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <style>
        .container {
            margin-top: 50px;
        }

        h2 {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
<a href="/">
    <img src="../../img/logo.jpg" class="rounded mx-auto d-block" alt="Welcome to Mediscreen">
</a>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>List of Patients</h2>
        </div>
    </div>
    <div class="row">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>ID</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Gender</th>
                <th>Birthdate</th>
                <th>Address</th>
                <th>Phone number</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="patient : ${patients}">
                <td th:text="${patient.id}"></td>
                <td th:text="${patient.firstName}"></td>
                <td th:text="${patient.lastName}"></td>
                <td th:text="${patient.gender}"></td>
                <td th:text="${#dates.format(patient.birthDate, 'dd/MM/yyyy')}"></td>
                <td th:text="${patient.address}"></td>
                <td th:text="${patient.phoneNumber}"></td>
                <td>
                    <a th:href="@{/patient/update/{id}(id=${patient.id})}" class="btn btn-primary">Edit Patient</a>
                <br><br>
                    <a th:href="@{/patient/delete/{id}(id=${patient.id})}" class="btn btn-danger">Delete Patient</a>
                    <a th:href="@{/view/{id}(id=${patient.id})}" class="btn-info">View fiche patient</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <a href="/patient/add" class="btn btn-success">New Patient</a>
    <a href="/" class="btn btn-info" title="Home">Home</a>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>
