<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mediscreen</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <style>
        .container {
            margin-top: 50px;
        }

        h2 {
            margin-bottom: 20px;
        }
    </style>
    <a href="/">
        <img src="../../img/logo.jpg" class="rounded mx-auto d-block" alt="Welcome to Mediscreen">
    </a>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2>Update Patient's Information</h2>
            <form class="form" action="#" th:action="@{/patient/update/{id}(id=${id})}" th:object="${patient}" method="POST">
                <div class="form-group">
                    <label for="lastName">Last Name:</label>
                    <input class="form-control" type="text" id="lastName" name="lastName" th:value="${patient.lastName}" readonly />
                </div>

                <div class="form-group">
                    <label for="firstName">First Name:</label>
                    <input class="form-control" type="text" id="firstName" name="firstName" th:value="${patient.firstName}" readonly />
                </div>

                <div class="form-group">
                    <label for="birthDate">Birthdate:</label>
                    <input type="date" class="form-control" id="birthDate" name="birthDate" th:value="${patient.birthDate}" readonly  />
                </div>

                <div class="form-group">
                    <label for="gender">Gender:</label>
                    <select class="form-control" id="gender" name="gender" th:value="*{gender}" readonly>
                        <option value="F">Female</option>
                        <option value="M">Male</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="address">Address:</label>
                    <input type="text" class="form-control" id="address" name="address" th:value="${patient.address}" />
                </div>

                <div class="form-group">
                    <label for="phoneNumber">Phone Number:</label>
                    <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" th:value="${patient.phoneNumber}" />
                </div>

                <button type="submit" class="btn btn-primary">Update Patient</button>
                <a href="/patient/list" class="btn btn-info" title="previous">Previous</a>
            </form>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>